mixin b-slider()
	//block b-slider
	.slider.owl-carousel
		//- for (var i = 0; i < 3 ; i++)
		a(href="#").slider-el
			.slider__img
				img(src="img/slider-3.png", alt="")
			.slider__info
				.slider__text-md Акция - цены снижены
				.slider__text-lg Оценка спец техники
				.slider__price 3400
					span руб
		a(href="#").slider-el
			.slider__img
				img(src="img/slider-4.png", alt="")
			.slider__info
				.slider__text-md Акция - цены снижены
				.slider__text-lg Оценка спец техники
				.slider__price 2500
					span руб
		a(href="#").slider-el
			.slider__img
				img(src="img/slider-5.png", alt="")
			.slider__info
				.slider__text-md Акция - цены снижены
				.slider__text-lg Оценка спец техники
				.slider__price 1500
					span руб
	//block b-slider end