mixin b-adv()
	//block b-adv
	.adv
		.block-header Нас выбирают!
		.adv__el
			i.flaticon-group
			.adv__number 92802
			.adv__text выполненно оценок
		.adv__el
			i.flaticon-group-1
			.adv__number 92802
			.adv__text выполненно оценок
		.adv__el
			i.flaticon-presentation
			.adv__number 92802
			.adv__text выполненно оценок
		.adv__el
			i.flaticon-promotion
			.adv__number 92802
			.adv__text выполненно оценок
	
	//block b-adv end