//! block b-adv
.advant
	+below(768px)
		display none!important
	background white
	margin-bottom 20px
	display block!important 
.adv__el
	+below(996px)
		justify-content flex-start
	i
		color red
		font-size 46px
		font-family: Flaticon;
	padding 20px
	border-bottom 1px solid grey
	flex(between)
.adv__number
	font-size 28px
	color black
	padding 0 20px
	font-weight 700
//!block b-adv end