//! block panel
.is-sticky
	.panel
		top inherit!important
		bottom 0 !important
		+below(768px)
			left -10px
			width calc(100% + 12px)!important
			overflow hidden
			border 0px 
			
.panel
	+below(768px)
		left  -10px
		width calc(100% + 22px) !important
		position relative
		overflow hidden
	flex(between)
	fw()
	background white
	align-items initial
	z-index 200
	border 1px solid #ededed
.panel__ready
	+below(768px)
		display none!important
.panel__el
	flex(mid)
	fl()
	padding 5px 10px
	color black
	border-right 1px solid #eeeeee
	flex-grow 1
.panel__title
	font-size 12px
	color blue
	font-weight 700
.panel__info
	+below(768px)
		font-size 12px
	font-size 24px
	up()
	span
		font-size 12px
.panel__price
	background red
	cp() 
	.panel__title
		color white
	.panel__info
		color white
		font-weight 700
.panel__get
	+below(768px)
		width 100%
		padding 10px
		padding 12px
		font-size 12px
		max-width 100%
	flex(mid)
	up()
	background blue
	color white
	font-size 18px
	width 13% 
.panel__star
	i
		color blue
		font-size 16px
//!block panel end