mixin panel()
	//block panel
	.panel
		.panel__el
			.panel__title  Время
			.panel__info 3-4 
				span дня
		.panel__el
			.panel__title Доставка
			.panel__info Есть
		.panel__el.panel__ready
			.panel__title Оценщик
			.panel__info готов
		.panel__el.panel__price
			.panel__title  Цена
			.panel__info 3400
				span руб
		a(href="#").panel__el.panel__get Заказать
	//block panel end