mixin section-contact()
	// block section-contact
	.section.section__contact
		.main-cont
			.contact
				.contact__form
					.contact__time Ответим вам черз 3 минуты
					.type.type--lg Свяжитесь с нами
					form(action="#")
						input(type="text" placeholder="Ваше имя")
						input(type="phone" placeholder="Ваше телефон")
						input(type="email" placeholder="Ваша почта")
						textarea(name="", cols="30", rows="10" placeholder="Ваше сообщение")
						button.btn.btn--lg Отправить
				.contact__info
					.contact__text
						.contact__phone.type.type--md 8(495)483-21-21
						.contact__adress.type.type--md г. Москва Гжельский переулок 13а стр 2 
						.contact__email.type.type--md info@mail.ru
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, consequuntur eos adipisci eligendi a aperiam, praesentium dolor pariatur molestias nostrum fuga sint placeat repudiandae, debitis atque eum dolore assumenda ut.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, commodi.
						.contact__consult Консультация бесплатно
					.map
						script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=keg_j_EiUvA25nYfDuyrp8l-mZZO1Ook&width=100%&height=290&lang=ru_RU&sourceType=constructor&scroll=true")
