mixin section-company()
	// block section-company
	.section.section-company
		.section-company__image
			.filter
			//img(src="img/image-2.jpg", alt="")
		.section-company__info
			.company__md-title Группа компаний
			.company__lg-title Центр оценки
			p  Группа Компаний "Центр оценки", осуществляет свою деятельность в Москве и Московской области, а также в близлежащих районах, более 10 лет на рынке консалтинговых услуг. Наша компания- это команда настоящих профессионалов в сфере оценке которые занимаются по-настоящему любимым делом.
			p  Стаж наших оценщиков начинается от 5 лет, что свидетельствует об их большом опыте. Все наши оценщики и эксперты состоят в саморегулируемых обществах таких как: РОО, ДСО, СУДЭКС, СМАО,МСО и другие.
			p  Для нас очень важно доверие и мнение каждого клиента, поэтому о всех недостатках работы нашего бюро вы можете нам рассказать при помощи обратной связи Наши цены приятно удивят и порадуют Вас, так же у нас действует система скидок для постоянных клиентов и другие бонусные программы. За годы работы мы подготовили более 12000 отчет по оценке по которым выигрывались дела в суде и заключились сделки. Для нашего бюро это лишь начало пути, в дальнейшем нас ждет успех!

