mixin section-company()
	// block section-company
	.section.section-company
		.section-company__image
			.filter
			//img(src="img/image-2.jpg", alt="")
		.section-company__info
			.company__md-title Группа компаний
			.company__lg-title Центр оценки
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolorum repellat quasi et blanditiis nostrum vel, optio rem cupiditate iste incidunt, asperiores eligendi accusamus eum hic harum sint reprehenderit! Nesciunt velit dicta perferendis deleniti aliquam ad, quasi molestias fugiat quidem.
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolorum repellat quasi et blanditiis nostrum vel, optio rem cupiditate iste incidunt, asperiores eligendi accusamus eum hic harum sint reprehenderit! Nesciunt velit dicta perferendis deleniti aliquam ad, quasi molestias fugiat quidem.amet, consectetur adipisicing elit. Aliquid dolorum repellat quasi et blanditiis nostrum vel, optio rem cupiditate iste incidunt, asperiores eligendi accusamus eum hic harum sint reprehenderit! Nesciunt velit dicta perferendis deleniti aliquam ad, quasi molestias fugiat quidem.

