mixin section-work()
	// block section-work
	.section.section-work
		.type.type--lg.section-work__title Как мы работаем
		p.section-work__subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repudiandae cum voluptatem consequuntur aliquid nesciunt quidem voluptates ipsum illum, modi adipisci voluptas expedita corporis, aliquam, perspiciatis et quis, recusandae vel.
		.main-cont
			.how-work
				.how-work__col
					.how-work__el
						.type.type--sm Получение заявки
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptatibus?
					.how-work__el
						.type.type--sm Получение заявки
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptatibus?
					.how-work__el
						.type.type--sm Получение заявки
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptatibus?
				.how-work__img
					img(src="img/work-baner.png", alt="")
				.how-work__col
					.how-work__el
						.type.type--sm Получение заявки
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptatibus?
					.how-work__el
						.type.type--sm Получение заявки
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptatibus?
					.how-work__el
						.type.type--sm Получение заявки
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptatibus?
