mixin section-get()
	// block section-get
	.section.section-get
		.filter.filter--light
		.section-get__content
			.type.type--lg Мы можем решить вашу проблему сегодня
			p.section-get__subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ab eaque reiciendis sapiente totam commodi nam ad, aperiam, voluptates dolorum at ipsa cupiditate quibusdam ut ipsam hic quae eius id quisquam placeat  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis perferendis dolorum alias quaerat magni consequatur quis enim repudiandae! Quod, possimus. alias quaerat magni consequatur quis enim repudiandae! Quod, possimus.
			a(href="#").btn.btn--lg получить

