mixin section-number()
	// block section-number
	.section-number
		.number__light
			.type.type--md мы провели более
			.type.type--lg 54323 оценок
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquid accusantium quidem nostrum debitis nobis quae recusandae voluptatum, a id.
			img(src="img/firedef.png", alt="").number__img
			a(href="#").btn.btn--lg подробнее
		.number__color
			.type.type--md мы подготовили более
			.type.type--lg  62375 отчетов
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium sapiente ipsum iure nesciunt quam sunt consequatur ullam suscipit facere. Quod?
			img(src="img/documents.png", alt="").number__img
			a(href="#").btn.btn--lg.btn--active подробнее


