// block section-number
.section-number
	f()
	fw()
	p
		+below(768px)
			width 100%
			min-width 100%
			padding 0px 20px
			margin-bottom 20px
		width 40%
		min-width 400px
		text-align center
		margin 0 auto
		margin-bottom 40px
	.type--lg
		padding-bottom 0px
.number__light
	+below(768px)
		width 100%
		padding 30px 10px
		img
			width 40%
	flex(mid)
	fl()
	width 50%
	padding-top 90px
	padding-bottom 30px
.number__color
	+below(768px)
		width 100%
		padding 30px 10px
		img
			width 40%
	flex(mid)
	fl()
	padding-top 90px
	width 50%
	background grey
	padding-bottom 30px
.number__img
	margin-bottom 30px