.type--xs
	+below(768px)
		font-size 8px
	font-size 10px
h1,h2,h3,h4,h5
	color black
.type--sm
	+below(768px)
		font-size 10px
	font-size 12px

.type
	+below(768px)
		font-size 14px
		padding-bottom 20px
	font-size 16px
	up()
	//font-family Sansus Webissimo
	//font-family Ristretto Pro
	
	color black
	
.type--md
	+below(768px)
		font-size 16px
	font-size 18px
	padding-bottom 20px

.type--lg
	+below(768px)
		font-size 24px
		padding-bottom 20px
	font-size 38px
	padding-bottom 40px
.btn
	up()
	display inline-block
	margin-bottom 20px
	tr(all)
	border 1px solid red
	//background red
	color red
	&:hover
		background darken(red,10)
		color white
.btn--sm
	font-size 10px
	padding 5px 10px
	@extend .btn
.btn--md
	font-size 12px
	padding 10px 20px
	@extend .btn
	
.btn--lg
	font-size 20px
	padding 10px 30px
	@extend .btn

.btn--red
	background red
	color white
	&:hover
		background darken(red,10)
.btn--active
		background darken(red,10)
		color white
.section
	+below(768px)
		padding 30px 0
		//.btn
		//	width 100%
		//	text-align center
	padding 90px 0px

@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}



@keyframes shake {
 0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation  shake  1s  
}

.shrink
	position fixed!important
	top 0
	left 0
	background white!important
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out
	z-index 9999
	//box-shadow: 0px 3px 8px #6f6f6f
	.header__logo
		background-image url('../img/logo-dark.png') 
	.header-nav
		a
			+below(768px)
				color white!important
			color black!important
	.header__cont
		color black
	.header__logo
		color red
	.header__toggle
		color black
		
input,textarea
	border 0px
	padding 10px 15px
	border 1px solid grey
	
button
	up()
	br(0px)
	tr(all)
	border 0px
	display inline-block
	margin-bottom 20px
	font-size 20px
	padding 10px 30px
	background white
	color red
	&:hover
		background darken(red,10)
	form
		display block

table
	table(true,true)
.small-only
	+below(768px)
		display table!important
	display none
.large-only
	+below(768px)
		display none
.st-head-row
	+below(768px)
		p
			text-align left!important
			font-weight 600
			color black 
			font-size 12px
.icon
	display inline 
.owl-next,
.owl-prev
	position absolute
	top 50%
	margin-top -30px
	color black
	font-size 40px
.owl-carousel
	position relative
	.icon
		font-size 64px
.owl-prev
	+below(768px)
		left -3%
		display none
	left -3%
.owl-next
	+below(768px)
		right -3%
		display none
	right -3%
.owl-dots
	width 100%
	flex(mid)
	margin-top -40px
	position relative
	z-index 2000
.owl-dot
	round()
	margin 5px
	width 10px
	height 10px
	background white
.owl-dot.active
	background #322f40
.filter
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	//background red
	background blue
	opacity .7
.filter--dark
	background #000000 
.filter--light
	background #f9f9f9
.block-header
	background red
	flex(mid)
	color white 
	padding 10px
	font-size 18px
	up()
.block-header--blue
	background blue
.block-content
	background white 
	padding 20px
	margin-bottom 20px
	.btn
		width 100%
		text-align center
		flex(mid)
.block-header--toggle
	position relative
	i
		+below(768px)
			display block 
		position absolute
		right 20px
		top 50%
		margin-top -10px
		cp()
		display none 
.link-more
	color blue
	text-decoration underline
	font-size 12px
	margin-bottom 20px
	display inline-bloc
.table_price
	tr
		td
			&:nth-child(1)
				p
					text-align left
			&:nth-child(2)
				p
					font-weight 700
					color red 
	table()
	p
		padding 0
		margin 0
		text-align center
	strong
		color black
		
.table__link
	padding 4px 10px
	color #485096
	font-size 10px
	text-transform uppercase
	font-weight 700
	text-decoration underline
	display block
	text-align center