// block section-service
.section-service
	background  grey
.service__wraper
	flex(between)
	fw()
	align-items: stretch;
.service__el
	+below(996px)
		width 32%
	+below(768px)
		width 48%
	+below(480px)
		width 100%
	width 24%
	margin-bottom 40px
	background white
	bsh()
.service__info
	padding 20px 
.service__img
	height 250px
	
	up()	
	background-size  cover
.service__title
	color black
.service__text
	margin-bottom 20px
.service__footer
	flex(between)
	.btn
		margin-bottom 0
.service__price
	font-size 20px
	color black
	font-weight 700 