mixin main-section()
	// block main-section
	.main-section
		+header()
		.main-baner
			.main-baner__img
				img(src="img/main-baner.png", alt="")
			.main-baner__info
				.main-baner__small группа Компаний
				.main-baner__lg "Центр оценки"


