mixin footer()
	//block footer
	.footer
			.footer-wraper
				.footer__nav
					.main-cont
						.footer__service
							a(href="#") Главная
							a(href="#")  Услуги
							a(href="#")  Цены
							a(href="#")  Контакты
				.footer__logo
					img(src="img/logo-dark.png", alt="")
				a(href="").footer__adress г. Москва гжельский переулок 13а стр 2
				a(href="").footer__phone  8(495)483-21-21


	.modal
		.icon-times
		.modal-cont
			.modal__good
				.modal__good-icon
					i.flaticon-check-mark
				.modal__good-text Отлично
				.modal__good-text--small Остался один шаг
				.modal__good-text--small и мы решим вашу проблему
				.modal__good-phone 
					a(href="tel:8(499)391-84-10") 8(499)391-84-10
				
			.modal-wraper
				.modal-or 
					//i.flaticon-down-arrow
				.modal-form
					form(action="#")
						input(type="text" placeholder="Ваше имя")
						input(type="phone" placeholder="Ваше телефон")
						input(type="email" placeholder="Ваша почта")
						button.btn.btn--lg Отправить


