mixin footer()
	//block footer
	.footer
			.footer-wraper
				.footer__nav
					.main-cont
						.footer__service
							a(href="#") Главная
							a(href="#")  Услуги
							a(href="#")  Цены
							a(href="#")  Контакты
				.footer__logo
					img(src="img/logo-dark.png", alt="")
				a(href="").footer__adress г. Москва гжельский переулок 13а стр 2
				a(href="").footer__phone  8(495)483-21-21


