//Include style include block_html/_style.jade body //Include header include block_html/_const.jade include ../module/b-adv/_b-adv.jade include ../module/b-link/_b-link.jade include ../module/b-list-service/_b-list-service.jade include ../module/b-news/_b-news.jade
include ../module/b-question/_b-question.jade include ../module/b-slider/_b-slider.jade include ../module/footer/_footer.jade include ../module/header/_header.jade include ../module/main-section/_main-section.jade include ../module/panel/_panel.jade include
../module/section-client/_section-client.jade include ../module/section-company/_section-company.jade include ../module/section-contact/_section-contact.jade include ../module/section-get/_section-get.jade include ../module/section-number/_section-number.jade
include ../module/section-service/_section-service.jade include ../module/section-work/_section-work.jade include ../module/text/_text.jade +header() .content .main-cont .content__wraper +b-slider() .content__info .content__left +panel() +text() +b-news()
.content__right +b-adv() +b-list-service() +footer //Include footer include ./block_html/_script.jade
