//! block b-link
.links
	+below(768px)
		display none 
	padding 20px
	background white
	margin-bottom 20px 
	flex(mid)
	fw()
.links__el
	padding 5px
	border 1px solid grey
	margin 5px
	font-size 12px
	tr(all)
	&:hover
		background blue
		cp()
		a
			color white 
//!block b-link end