-
	pages = [
	
		{
			'name':'Главная!1',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	];

- var service = ['Оценка спец. Техники','Оценка для нотариуса','Оценка после Залива и Пожара','Оценка квартиры для нотариуса','Оценка автомобиля для нотариуса','Оценка спец техники для нотариуса','Оценка земли для нотариуса','Оценка после ДТП. Оценить ущерб.','Оценка по документам','Оценка для ипотеки','Оценка загородной недвижимости','Оценка коммерческой недвижимости','Оценка стоимости квартиры','Оценка земли','Оценка земли для банка','Оценка ущерба личных вещей','Оценка строительной техники','Оценка оборудования машин механизмов','Оценка транспортных средств и спецтехники','Оценка рыночной стоимости авто','Оценка оружия'];

- var links = ['Оценка недвижимости для СБЕРБАНКА','Оценка квартиры для ипотеки Сбербанка','Независимая экспертиза после залива квартиры','Бесплатная оценка квартиры','Оценка после залива квартиры в Подмосковье','Оценка после протечки крыши','Оценка после противоправных действий третьих лиц','Экспертиза после некачественного ремонта в квартире','Оценка после пожара гаража','Акт о заливе квартиры','Куда обращаться если затопили соседи','Оценка квартиры для ипотеки Газпромбанк','Оценка ущерба после затопления квартиры','Подмосковье страховая компания','Что делать при заливе, потопе квартиры.'];
