mixin b-positive()
	//block b-positive
	.positive
		.main-cont
			span.span_h2.type--mid Преимущества независимой оценки у нас
			.positive-wraper
				.positive-el
					.positive-el__icon
						i.flaticon-money-1
					.positive-el__content
						.positive-el__title Честные оценщики
						.positive-el__text Наши эксперты проводят оценку по рыночным ценам, с расчетом расходных материалов и применяемых технологий.  Оценочная сумма нашей компании выше расчетов ЖЭК.
				.positive-el
					.positive-el__icon
						i.flaticon-balance
					.positive-el__content
						.positive-el__title Доверие в суде
						.positive-el__text Наши эксперты проводят оценку всоответсвии со всеми нормами и законодательством. Поэтому наши отчеты подходят для судов любой инстанции.
				.positive-el
					.positive-el__icon
						i.flaticon-money
					.positive-el__content
						.positive-el__title Бесплатно для пострадавшей стороны
						.positive-el__text Мы выстраиваем защиту так, что все расходы будут признаны судебными издержками и вам ни чего не придется платить.
				.positive-el
					.positive-el__icon
						i.flaticon-info
					.positive-el__content
						.positive-el__title Бесплатная консультация по телефону
						.positive-el__text Мы готовы проконсультировать Вас по любому вопросу, предложить самый выгодный вариант и найти подход к любой задаче.

	//block b-positive end