//! block b-positive
.positive
	+below(768px)
		i:before
			font-size 60px
	background blue 
	background blue
	padding 20px 30px
	.span_h2
		margin-bottom 20px
		color white
	
.positive-wraper
	fw()
	flex(between)
	align-items inherit
	p
		color black
		font-size 16px
		font-weight 600 
	padding 20px 0

.positive-el
	+below(768px)
		fw()
		flex(mid)
		fl()
		width 100%
	f()
	margin-bottom 40px
	padding 20px
	border 1px solid white
	width 48%
.positive-el__icon
	margin-right 20px
	color white
.positive-el__title
	+below(768px)
		font-size 14px
		text-align center
		margin-top 20px
	margin-bottom 10px
	text-transform uppercase
	color white 
	font-size 18px
.positive-el__text 
	+below(768px)
		text-align center
	color white
//!block b-positive end