//! block b-news
.news
	+below(768px)
		padding 0
	padding 20px
	background white 
	margin 40px 0px 20px 0px
.news__el
	f()
	fw()
	margin-bottom 20px
.news__img
	+below(768px)
		width 100%
		margin-bottom 20px
		display none !important
	width 30%
.news__content
	+below(768px)
		width 100%
		font-size 12px
		padding 20px
		
	width 70%
	padding 0px 20px
	.link-more
		margin-top 10px
		up()
.news__title
	+below(768px)
		font-size 14px
		margin-bottom 10px
	font-weight 700 
	margin-bottom 20px
	font-size 16px
	color black
	up()
	
//!block b-news end