mixin b-question()
	//block b-question
	.questions
		.block-header.block-header--toggle  Частые вопросы
		.block-content
			.questions--wraper.owl-carousel
				- for (var i = 0; i < 4; i++)
					.questions--el
						.type.type--md Как правильно провести оценку
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vitae quibusdam eius nihil dolor consectetur ducimus asperiores velit, quia temporibus, quae neque quo officia fuga aut ea explicabo. Magni, placeat?
						a(href="#") Подробнее
			a(href="#").btn.btn--md.btn--red Бесплатная консультация
	//block b-question end