mixin header()
	// block header
	.header
		.main-cont
			.header-wraper
				a(href="#").header__logo DAMAGE-HELP
				.header-nav
					.header-nav-wraper
						.header__el
							a(href="#") Главная
						.header__el
							a(href="#") Услуги
						.header__el
							a(href="#") Цены
						.header__el
							a(href="#") Контакты
				.header__cont 8(499)391-84-10
					.header__toggle
						i.icon-bars

