//! block b-img
.work-teml
	flex(between)
	fw()
.work-teml__el
	+below(768px)
		height 100px
	cp()
	tr(all)
	width 32%
	height 200px
	background-size cover
	margin-bottom 10px
	&:hover
		transform scale(1.5)
	
//!block b-img end