//! block b-calc
.calc-wraper
	fw()
	f()
	align-items flex-start
	p
		color black
		font-size 16px
		font-weight 600 
	padding 20px 0
.calc__col
	+below(768px)
		width 100%
	width 48%
	padding 10px
.calc__el
	f()
	margin-bottom 30px
.calc__icon
	margin-right 20px
	color red
.calc__title
	margin-bottom 10px
	text-transform uppercase
	color black 
	font-size 18px
.calc-block
	+below(768px)
		margin-left 0
	padding 20px 30px!important
	background white
	bsh() 
	margin-left 4%
.calc-block__title
	margin-bottom 20px
	font-size 22px
	font-weight 700 
	color black	
.calc-block__el
	margin-bottom 20px
.sytle-input-text
	font-size 16px
.calc-block__location
	padding 20px 0
	border-top 1px solid #dad6d6
	border-bottom 1px solid #dad6d6
.calc-block__get
	text-transform uppercase
	font-size 20px
	color #fff
	background red
	text-align center
	padding-bottom 0px
	padding 10px
	cp()
.calc-block-cost
	flex(between)
	padding 20px 0
.calc-block-cost__title
	font-size 18px
	font-weight 700 
	color black
.calc-block__val
	font-size 22px
	color black
.calc__info-text
	text-align center
	font-size 12px
	margin-top 10px
	color darken(grey,20)
	
//!block b-calc end