//! block b-call
.call
	flex(between)
	fw()
	padding 20px
	margin-bottom 40px
.call__phone
	+below(768px)
		width 100%
		margin-bottom 20px
	width 50%
	flex(mid)
.call__text
	+below(768px)
		width 100%
		flex(mid)
		fl()
	width 50%
.call__number
	+below(992px)
		font-size 20px
	font-size 50px
	color black
	margin-bottom 10px
.call__title
	+below(992px)
		font-size 16px
	font-size 20px
	color black
.call__free
	font-weight 700
	color red 	
//!block b-call end