mixin b-call()
	//block b-call
	.call
		.call__phone
			img(src="img/big_phone.png", alt="")
		.call__text
			.call__title У вас остались вопросы ?
			.call__number 8(499)391-84-10
			.call__free Консультация бесплатная

	//block b-call end