//! block b-attantion
.b-attantion
	+below(768px)
		fw()
		padding 20px
	flex(mid)
	background white
	bsh()
	margin 50px 0
	padding 20px
.b-attantion__icon
	+below(768px)
		margin-bottom 10px
		padding 5px
		i
			&:before
				font-size 80px
	padding 30px
	color red
.b-attantion__text
	+below(768px)
		text-align center
	font-weight 500 
	font-style italic
	font-size 17px
//!block b-attantion end