mixin b-attantion()
	//block b-attantion
	.b-attantion
		.b-attantion__icon
			i.flaticon-warning
		.b-attantion__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sit quasi, iusto atque eum corrupti aut mollitia, corporis unde ducimus incidunt distinctio consectetur tenetur et cumque possimus beatae soluta non temporibus! Minus veritatis eveniet quis, sequi neque, ab obcaecati quam.

	//block b-attantion end