mixin b-list-service()
	//block b-list-service
	.list-service
		.block-header.block-header--blue.block-header--toggle  Наши услуги
			i.icon-bars
		.block-content.list-service__content
			- each val in service 
				a(href="#").list-service__el #{val}
				
	//block b-list-service end